.wrapper
{
	animation-duration: 4s;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	transition-timing-function: ease-in;
}

.navBarHolder
{
	animation-duration: 4s;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	transition-timing-function: ease-in;
}

@keyframes fadeIn
{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
